extends ./layout/main

block content 
  h2 Моя биография
  figure.sign
    img(src="https://rozetked.me/images/uploads/fJ8LPcfByPPv.jpg")
    figcaption Мельников
  p 
    | labore natus eius repellendus veritatis exercitationem sapiente rerum officiis fugit molestiae id nostrum doloremque? Est dicta nesciunt recusandae esse nam dolore itaque officiis perspiciatis vel.
    | Expedita facere quibusdam doloremque eligendi temporibus enim molestias iste porro tenetur impedit voluptatem itaque neque accusantium obcaecati, dolores at quod voluptates illum vitae saepe exercitationem deserunt harum eum! Iste, neque.
    | Nam unde modi delectus sint labore reiciendis illum? Nobis necessitatibus enim minima eius, est qui similique praesentium explicabo soluta accusamus provident deserunt a debitis incidunt! Placeat minima deleniti velit ea?
  h2 Мои Хобби
  ol
    li Lorem
    li Lorem