extends ./layout/main

block content 
  h2 Новости
  figure.sign
    img(src='https://rozetked.me/images/uploads/fJ8LPcfByPPv.jpg' width='15%')
    figcaption
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, veritatis?
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, veritatis?
    a(href='https://rozetked.me/images/uploads/fJ8LPcfByPPv.jpg' target='_blank') Подробнее
  figure.sign
    img(src='https://rozetked.me/images/uploads/fJ8LPcfByPPv.jpg' width='15%')
    figcaption
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, veritatis?
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, veritatis?
    a(href='https://rozetked.me/images/uploads/fJ8LPcfByPPv.jpg' target='_blank') Подробнее
  figure.sign
    img(src='https://rozetked.me/images/uploads/fJ8LPcfByPPv.jpg' width='15%')
    figcaption
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, veritatis?
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, veritatis?х
    a(href='https://rozetked.me/images/uploads/fJ8LPcfByPPv.jpg' target='_blank') Подробнее
    
  
  
