extends ./layout/main
include ./utils/mixin

block content 
  h2 Фотоальбом
  +photo('https://rozetked.me/images/uploads/fJ8LPcfByPPv.jpg', 'https://rozetked.me/images/uploads/fJ8LPcfByPPv.jpg', 'Шрек')
  +photo('https://rozetked.me/images/uploads/fJ8LPcfByPPv.jpg', 'https://rozetked.me/images/uploads/fJ8LPcfByPPv.jpg', 'Шрек')
