extends ./layout/main

block content 
  h2 Расписание
  table
    thead
      tr
        td Lorem, ipsum.
        td Lorem, ipsum.
        td Lorem, ipsum.
        td Lorem, ipsum.
        td Lorem, ipsum.
    tbody
      tr
        td Lorem, ipsum.
        td Lorem, ipsum.
        td Lorem, ipsum.
        td Lorem, ipsum.
        td Lorem, ipsum.
      tr
        td Lorem, ipsum.
        td Lorem, ipsum.
        td Lorem, ipsum.
        td Lorem, ipsum.
        td Lorem, ipsum.
      tr
        td Lorem, ipsum.
        td Lorem, ipsum.
        td Lorem, ipsum.
        td Lorem, ipsum.
        td Lorem, ipsum.
      tr
        td Lorem, ipsum.
        td Lorem, ipsum.
        td Lorem, ipsum.
        td Lorem, ipsum.
        td Lorem, ipsum.
      tr
        td Lorem, ipsum.
        td Lorem, ipsum.
        td Lorem, ipsum.
        td Lorem, ipsum.
        td Lorem, ipsum.