doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='style.css')
  title Photo
.wrapper
  header
    h1 Личная информация(блог) Мельникова Данила Андреевича
    nav
      ul
        li
          a(href='index.html') Главная
        li
          a(href='rozklad.html') Расписание
        li
          a(href='news.html') Новости
  content
    h2 Моя биография
    .block1
      figure
        a(href='https://kinda.media/upload/news/1574792179.png')
          img(src='https://kinda.media/upload/news/1574792179.png' width='100%' align='center')
        figcaption Злой шрек
      figure
        a(href='https://kinda.media/upload/news/1574792179.png')
          img(src='https://kinda.media/upload/news/1574792179.png' width='100%' align='center')
        figcaption Злой шрек
    div
      h2 ...
  footer
    p
      | Copyright 2021 
      a(href='https://melnikovd.000webhostapp.com/')  Our Website
